<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Pariveda.BI.Deployment.Library.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="Pariveda.BI.Deployment.Library.AcceptanceTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!-- the following configuration represent the defaults -->
  <specFlow>
    <unitTestProvider name="NUnit" />
  </specFlow>
  <userSettings>
    <Pariveda.BI.Deployment.Library.Properties.Settings>
      <setting name="PowerShellDeployScriptsPath" serializeAs="String">
        <value>C:\\DeploymentsTemp\\PowerShellScripts\\DeployScripts\\</value>
      </setting>
    </Pariveda.BI.Deployment.Library.Properties.Settings>
    <Pariveda.BI.Deployment.Library.AcceptanceTests.Properties.Settings>
      <setting name="PowerShellDeployScriptsPath" serializeAs="String">
        <value>C:\\DeploymentsTemp\\PowerShellScripts\\DeployScripts\\</value>
      </setting>
    </Pariveda.BI.Deployment.Library.AcceptanceTests.Properties.Settings>
  </userSettings>
</configuration>